.container {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.container h2 {
  text-align: center;
  margin-bottom: 1em;
  color: #4CAF50;
}

.container p {
  margin: 0.5em 0;
  font-size: 1.1em;
  line-height: 1.5;
}

.footer {
  text-align: center;
  margin-top: auto;
  padding: 1em;
  background-color: #4CAF50;
  color: #fff;
}

/* Responsivo */
@media (max-width: 600px) {
  .container {
    margin: 1em;
    padding: 0.8em;
  }
  
  .header, .footer {
    padding: 0.8em;
  }
}
