@media (max-width: 480px) {
  /* Global */
  .header h1 {
    font-size: 40px;
    line-height: 30px;
  }
  .header article {
    align-items: center;
  }
  .search {
    display: none;
  }
  .navbar {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .navbar a {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    max-width: 100%;
  }
  .footer-socials {
    justify-content: center;
  }

  /* Index */
  .section-one {
    margin: 0 auto;
    padding: 0px;
    gap: 10px;
  }
  .section-one p {
    text-align: right;
    max-width: 200px;
    padding: 20px 10px;
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  .section-two {
    padding: 20px 10px;
  }
  .section-two p {
    max-width: 200px;
    padding: 0px;
    font-size: 12px;
    letter-spacing: 1.2px;
  }  
  .section-two span {
    width: 200px;
    height: 200px;
    transform: translateX(-100px);
  }
  .section-three {
    display: none;
  }
  .article-section {
    flex-direction: column;
    font-size: 12px;
  }
  .div-content {
    width: auto;
    height: auto;
  }

  /* Footer */
  footer {
    font-size: 0.9rem;
  }
  .footer-content {
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
  }
  .footer-socials {
    padding: 10px;
  }
  .footer-socials p {
    width: 350px;
  }
  .footer-contact {
    width: 300px;
  }

  .section-cart {
    max-width: 90%;
    padding: 10px;
    font-size: 0.8rem;
  }  
}
