<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horta Urbana</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet" />
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../../../global.css">
    <link rel="stylesheet" href="../../assets/Responsive/480.css" />
  </head>
  <body>
    <header>
      <section class="welcome">
        <p></p>
        <div>
          <a id="myCart" class="my-cart" href="../cart/cart.html">
            <span class="cart-badge" id="quantityInCart"></span>
            <img class="icon" src="../../assets/images/header/mycart.png" alt="">
          </a>
          <span class="toggle" id="toggleMode">
            <img class="icon" src="../../assets/images/header/flashlight.png" alt="">
          </span>
        </div>
      </section>
      
      <section class="header">
        <dotlottie-player
          src="https://lottie.host/8a5aedea-a383-409c-84c6-94dbefae6223/Y2qjdUGToO.lottie"
          background="transparent"
          speed="1"
          style="width: 150px; height: 150px"
          loop
          autoplay
        ></dotlottie-player>
        <h1>Horta Urbana</h1>
      </section>
      </header>
      
      <nav class="navbar">
        <a href="../../../index.html">Início</a>
        <a href="./micro-verde.html">Micro-verde</a>
        <a href="./legumes.html">Legumes</a>
        <a href="./temperos.html">Tempero</a>
        <a href="./frutas.html">Frutas</a>
        <a href="./flores.html">Flores</a>
        <a href="../login/login.html">Login</a>
      </nav>
    </section>

    <main class="main-itens" id="Flor">
    </main>

    <footer>
      <section class="footer-content">
        <article class="footer-socials">
          <h3>HORTA URBANA</h3>
          <p>
            Inscreva-se em nossa
            <a class="footer-link-acess" href="">Newsletter</a> para receber dicas e
            novidades sobre horta em casa!
          </p>
          <p>
            Siga-nos nas redes sociais para se inspirar e compartilhar suas
            experiências!
          </p>
          <div class="footer-link-socials">
            <a href="" uk-icon="instagram"></a>
            <a href="" uk-icon="facebook"></a>
            <a href="" uk-icon="linkedin"></a>
            <a href="" uk-icon="whatsapp"></a>
            <a href="" uk-icon="x"></a>
            <a href="" uk-icon="tiktok"></a>
          </div>
        </article>
        <article class="footer-contact">
          <h3>CONTATOS</h3>
          <p>Email: suporte@hortaurbana.com.br</p>
          <p>Telefone: 0800 743 25 25</p>
          <p>Endereço: Rua da Horta 123, Bahia - Ilhéus</p>
        </article>
      </section>
      <section class="footer-right">
        <p>HortaUrbana - 2024 - Todos os Direitos Reservados.</p>
        <p><a class="footer-link-acess" href="">Políticas de Privacidade</a></p>
      </section>
    </footer>
    <script src="../../services/view-mode-service.js"></script>
    <script src="../../services/get-itens-service.js" type="module" ></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit-icons.min.js"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
  </body>
</html>
