/* Estilização do Carrinho */
.section-cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  font-size: 1rem;
  background: var(--bkground0);
  box-shadow: 0 2px 4px var(--smoke);
  gap: 10px;
}
.section-cart h3 {
  text-align: center;
  font-size: 24px;
  color: var(--bkground1);
}

/* Tabela do Carrinho */
.itens-cart {
  width: 100%;
  border-collapse: collapse;
}
.itens-cart th, .itens-cart td {
  text-align: center;
  padding: 10px 0;
  color: black;
}
.itens-cart th {
  background-color: var(--bkground2);
  color: white;  
}
.itens-cart th:first-child {
  border-top-left-radius: 8px;
}
.itens-cart th:last-child {
  border-top-right-radius: 8px;
}
.itens-cart tr:nth-child(even) {  
  background-color: #f2f2f2;
}
.itens-cart tr:hover {
  background-color: #d2d2d2;
}

.itens-cart td button {
  background: rgb(225, 60, 50);
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.itens-cart td button:hover {
  background: rgb(200, 40, 40);
}

.finish-btn {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: rgb(225, 60, 50);
  color: var(--text-color);
  transition: background-color 0.3s;
  cursor: pointer;
}
.finish-btn:hover {
  background: rgb(200, 40, 40);
}

