.my-cart {
  display: flex;
  top: 200px;
  right: 20px;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  align-content: left;
  width: 30%;
  margin: 20px auto;
  padding: 10px;
  background-color: rgb(220, 160, 95, 0.4);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.itens-cart {
  border-collapse: collapse;
}
.itens-cart th,td {
  border-bottom: 1px solid black;
  text-align: left;
  padding: 10px;
  word-wrap: break-word; /* Garante a quebra da palavra */
  white-space: normal; /* Permite que o texto quebre em várias linhas */
}
.exclud {
  text-align: center;
}
.finish {
  text-align: center;
  width: 60%;
  margin: 10px;
  padding: 10px 0px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--details1);
  color: var(--text-color);
  transition: background-color 0.3s;
  cursor: pointer;
}
.finish:hover {
  background-color: var(--details2);
}
